laminar-schemas/fixm/3.0.1_GP_Edit/core/foundation/Location.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.fixm.aero/foundation/3.0" version="3.0.1" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ff="http://www.fixm.aero/foundation/3.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<include schemaLocation="./Measures.xsd"/>
	<complexType name="GeographicLocationType">
		<sequence>
			<element name="pos" minOccurs="0" maxOccurs="1" type="string">
				<!-- <simpleType>
					<list itemType="xs:double"/>
				</simpleType> -->
			</element>
		</sequence>
		<attribute name="srsName" type="xs:string" fixed="urn:ogc:def:crs:EPSG::4326" use="required"/>
	</complexType>
	<element name="GeographicLocation" type="ff:GeographicLocationType"/>
	<simpleType name="LatitudeType">
		<restriction base="ff:UnitOfMeasureType"/>
	</simpleType>
	<simpleType name="LongitudeType">
		<restriction base="ff:UnitOfMeasureType"/>
	</simpleType>
</schema>
